.pad-0 {
  padding: 0;
}
.pad-1 {
  padding: 0.25rem;
}

.mar-0 {
  margin: 0;
}
.mar-1 {
  margin: 0.25rem;
}

.no-space {
  padding: 0;
  margin: 0;
}

.width-25 {
  width: 25%;
}
.width-100 {
  width: 100%;
}

.detail-section-header {
  color: #cdcdcd !important;
  margin-bottom: 20px;
}
